* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul{
  list-style: none;
}
#cv-container {
  margin: 1rem auto;
  max-width: 90rem;
  padding: 1.6rem 2.4rem;
  border-radius: 0.8rem;
  background: var(--color-white);
  box-shadow: 0px 0px 3px 2px var(--color-gray);
  
  overflow-y: auto;
  scrollbar-width: none;
  max-height: 45rem;
  
  border-radius: 0.4rem;
}
.cv-actions{
  text-align: right;
  margin: 3rem auto;
  max-width: 90rem;
}

#cv-container::-webkit-scrollbar {
  display: none;
}
#cv-container section > h2,
#cv-container section > h3 {
  font-weight: 600;
}
#cv-container section p,
#cv-container article p,
#cv-container ul {
  margin-bottom: 1rem;
  color: #555;
  padding-left: 1.6rem;
  font-size: var(--font-size-sm);
}

#info_personal {
  font-size: var(--font-size-xs);
  text-align: center;
  margin-bottom: 1.6rem;
}
#info_personal h2 {
  font-size: var(--font-size-xl);
  text-align: center;
}
#info_personal address {
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#info_personal address a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
}
#info_personal address a:last-child {
  margin-left: 1rem;
}
#info_personal address a:hover {
  text-decoration: underline;
}

@media (min-width: 768px) {
  #info_personal address {
    flex-direction: row;
  }
  #info_personal h2 {
    font-size: var(--font-size-2xl);
    text-align: center;
  }
}

#formacao ul,
#cursos ul {
  list-style: square;
}
#formacao ul li,
#cursos ul li {
  margin-bottom: 0.8rem;
}

#experiencia article h3 { 
  font-weight: 500;
  font-size: var(--font-size-sm);
 
  }
